cscope.*
GPATH
GRTAGS
GSYMS
GTAGS
out/*
ta/GP_*
host/xtest/global_platform/
host/xtest/gp_7000.c
host/xtest/gp_7500.c
host/xtest/gp_8000.c
host/xtest/gp_8500.c
host/xtest/gp_9000.c
host/xtest/adbg_case_declare.h
host/xtest/adbg_entry_declare.h
package/testsuite/global_platform/api_1.0/TEE*
/libs
/obj
/TEE_Initial_Configuration-Test_Suite*
